/* DEFAULT STYLES */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/* BODY STYLES */
body{    
    background-color: rgb(25, 23, 34);
    color: rgb(0, 0, 0)
}

.logo{
    width: 13%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

#map{
    margin: 50px 20px 30px 40px;
}