/* DEFAULT STYLES */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/* BODY STYLES */
body{    
    background-color: rgb(25, 23, 34);
    color: rgb(0, 0, 0)
}

.main-section{
    display: grid;
    grid-template-areas: "map map bhead bhead"
                         "map map mbtn  tpbtn"
                         "map map hsbtn gbtn "
                         "map map abtn  tinput";
    grid-template-rows: 100px 1fr 1fr 1fr;
    grid-template-columns: 25% 25% 1fr 1fr 0.5fr;
}

.logo{
    width: 13%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

#map{
    margin: 50px 20px 30px 100px;
    grid-area: map;
    width: 100;
}

.button-header{
    color: white;
    grid-area: bhead;
    margin-top: 50px;
}

.supply-buttons{
    background-color: #00369b; /* Green */
    border: none;
    color: white;
    margin: 50px;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
}

.supply-buttons:hover{
    background-color: #011d52;
    cursor: pointer;
}

#add-button{
    background-color: #d33636; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    margin: 50px 50px 50px 50px;
    grid-area: abtn;
}

#add-button:hover{
    background-color: #741212;
    cursor: pointer;
}

#masks{
    grid-area: mbtn;
    margin: 50px 50px 50px 50px;
}

#toilet-paper{
    grid-area: tpbtn;
    margin: 50px 50px 50px 50px;
}

#hand-sanitizer{
    grid-area: hsbtn;
    margin: 50px 50px 50px 50px;
}

#gloves{
    grid-area: gbtn;
    margin: 50px 50px 50px 50px;
}

label{
    color: white;
    font-size: 20px;
}

.input-box{
    color: black;
    margin-left: 0.5rem;
    font-size: 16px;
    font-weight: bold;
}

#text-input{
    grid-area: tinput;
    display:flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 1822px) {

    .main-section{
        display: grid;
        grid-template-areas:    "map map bhead bhead"
                                "map map mbtn tpbtn"
                                "map map hsbtn gbtn"
                                "map map abtn none";
        grid-template-rows: 1fr 2fr 2fr 2fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    #map{
        margin: 30px 10px 150px 50px;
        grid-area: map;
        width: 90%!important;
        height: 140%!important;
    }

    #masks{
        grid-area: mbtn;
        margin: 20px 20px 20px 20px;
    }
    
    #toilet-paper{
        grid-area: tpbtn;
        margin: 20px 20px 20px 20px;
    }
    
    #hand-sanitizer{
        grid-area: hsbtn;
        margin: 20px 20px 20px 20px;
    }
    
    #gloves{
        grid-area: gbtn;
        margin: 20px 20px 20px 20px;
    }
    
    #add-button{
        margin: 20px 20px 20px 20px;
        grid-area: abtn;
    }
  }

@media only screen and (max-width: 1315px) {

.main-section{
    display: grid;
    grid-template-areas:    "map map"
                            "map map"
                            "bhead bhead"
                            "mbtn tpbtn"
                            "hsbtn gbtn"
                            "abtn none";
    grid-template-rows: 2fr 2fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
}

#map{
    margin: 30px 10px 150px 50px;
    grid-area: map;
    width: 90%!important;
    height: 110%!important;
}

.button-header{
    color: white;
    grid-area: bhead;
    margin-top: 110px;
    margin-bottom: 20px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto
}

#masks{
    grid-area: mbtn;
    margin: 20px 20px 20px 20px;
}

#toilet-paper{
    grid-area: tpbtn;
    margin: 20px 20px 20px 20px;
}

#hand-sanitizer{
    grid-area: hsbtn;
    margin: 20px 20px 20px 20px;
}

#gloves{
    grid-area: gbtn;
    margin: 20px 20px 20px 20px;
}

#add-button{
    margin: 20px 20px 20px 20px;
    grid-area: abtn;
}

}