/* DEFAULT STYLES */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/* BODY STYLES */
body{    
    background-color: rgb(25, 23, 34);
    color: rgb(243, 243, 243)
}

.logo{
    width: 13%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

#map{
    margin: 50px 20px 30px 40px;
}

.supply-buttons{
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #00369b; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}

.supply-buttons:hover{
    background-color: #011d52;
    cursor: pointer;
}